<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISessionFasade" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9900/WcfBasicService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISessionFasade" contract="ServerSessionFasadeNamespace.ISessionFasade"
                name="BasicHttpBinding_ISessionFasade" />
        </client>
    </system.serviceModel>
</configuration>